.detailWork {
  padding-top: desktop-vw(50px);

  @include mobile {
    padding-top: unset;
  }

  .intro {
    padding: 0 desktop-vw(40px);

    @include mobile {
      padding: 0 mobile-vw(16px);
    }

    .info {
      border-top: 1px solid var(--black);
      padding: desktop-vw(30px) 0 desktop-vw(60px) 0;

      @include mobile {
        padding: mobile-vw(20px) 0 mobile-vw(30px) 0;
      }

      > h1 {
        font-family: var(--font-manrope);
        font-size: desktop-vw(32px);
        font-weight: 500;

        @include mobile {
          font-size: mobile-vw(32px);
          margin-bottom: mobile-vw(30px);
          text-align: center;
        }
      }

      .filterItem {
        border: 1px solid var(--mercury);
        border-radius: desktop-vw(16px);
        font-family: var(--font-manrope);
        font-size: desktop-vw(14px);
        font-weight: 300;
        padding: desktop-vw(4px) desktop-vw(12px);

        @include mobile {
          border-radius: mobile-vw(16px);
          font-size: mobile-vw(12px);
          padding: mobile-vw(4px) mobile-vw(12px);
        }

        > span {
          display: block;
          transform: translateY(desktop-vw(-1px));

          @include mobile {
            transform: translateY(mobile-vw(-1px));
          }
        }
      }
    }

    .mediaC {
      @include dims(auto, desktop-vw(750px));
      border-radius: desktop-vw(20px);
      overflow: hidden;

      @include mobile {
        @include dims(auto, mobile-vw(250px));
        border-radius: mobile-vw(10px);
      }
    }

    .description {
      @include dims(desktop-vw(800px), auto);
      font-family: var(--font-manrope);
      font-size: desktop-vw(20px);
      font-weight: 400;
      line-height: 1.35;
      margin: desktop-vw(50px) 0;
      margin-left: auto;

      @include mobile {
        @include dims(auto);
        font-size: mobile-vw(18px);
        line-height: 1.5;
        margin: mobile-vw(30px) 0;
        text-align: center;
      }
    }
  }

  .content {
    padding: 0 desktop-vw(40px);

    @include mobile {
      padding: 0 mobile-vw(16px);
    }

    .block {
      margin-bottom: desktop-vw(20px);

      @include mobile {
        margin-bottom: mobile-vw(12px);
      }

      .mediaC {
        @include dims(100%);
        border-radius: desktop-vw(20px);
        overflow: hidden;

        @include mobile {
          border-radius: mobile-vw(10px);
        }
      }
    }
  }

  .marquee {
    margin: desktop-vw(50px) 0;
    padding: desktop-vw(40px) 0;
    position: relative;

    @include mobile {
      margin: mobile-vw(30px) 0;
      padding: mobile-vw(20px) 0;
    }

    &::before {
      content: "";
      @include dims(calc(100% - desktop-vw(80px)), 1px);
      @include position(absolute, 0, auto, auto, 50%);
      background-color: var(--black);
      transform: translateX(-50%);

      @include mobile {
        @include dims(calc(100% - mobile-vw(16px)), 1px);
      }
    }

    &::after {
      content: "";
      @include dims(calc(100% - desktop-vw(80px)), 1px);
      @include position(absolute, auto, auto, 0, 50%);
      background-color: var(--black);
      transform: translateX(-50%);

      @include mobile {
        @include dims(calc(100% - mobile-vw(16px)), 1px);
      }
    }

    .nextWork {
      span {
        font-family: var(--font-anton);
        font-size: desktop-vw(160px);
        font-weight: 400;

        @include mobile {
          font-size: mobile-vw(80px);
        }
      }

      .mediaC {
        @include dims(desktop-vw(270px), desktop-vw(160px));
        border-radius: desktop-vw(64px);
        margin: 0 desktop-vw(50px);
        overflow: hidden;

        @include mobile {
          @include dims(mobile-vw(135px), mobile-vw(80px));
          border-radius: mobile-vw(64px);
          margin: 0 mobile-vw(20px);
        }
      }
    }
  }
}
