.intro {
  border-top: 1px solid var(--black);
  margin: 0 desktop-vw(40px);
  margin-top: desktop-vw(80px);
  padding: desktop-vw(16px) 0;

  @include mobile {
    border-top: none;
    margin: 0 mobile-vw(16px);
    margin-top: 0;
    padding: mobile-vw(16px) 0;
  }

  > h1 {
    font-family: var(--font-anton);
    font-size: desktop-vw(50px);
    font-weight: 900;

    @include mobile {
      font-size: mobile-vw(80px);
      margin-bottom: mobile-vw(30px);
    }
  }

  .filter {
    transition: 200ms all ease;

    @include hover {
      &:hover {
        .filterItem {
          opacity: 0.3;
        }
      }
    }

    .items {
      @include dims(desktop-vw(650px), auto);

      @include mobile {
        @include dims(auto);
      }
    }

    .filterItem {
      border: 1px solid var(--mercury);
      border-radius: desktop-vw(16px);
      font-family: var(--font-manrope);
      font-size: desktop-vw(14px);
      font-weight: 300;
      padding: desktop-vw(4px) desktop-vw(12px);
      transition: 200ms all ease;

      @include mobile {
        border-radius: mobile-vw(16px);
        font-size: mobile-vw(14px);
        padding: mobile-vw(6px) mobile-vw(14px);
      }

      > span {
        display: block;
        transform: translateY(desktop-vw(-1px));

        @include mobile {
          transform: translateY(mobile-vw(-1px));
        }
      }

      &.active {
        background-color: var(--black);
        color: var(--white);
      }

      @include hover {
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.works {
  margin: 0 desktop-vw(40px);
  margin-top: desktop-vw(40px);

  @include mobile {
    margin: 0 mobile-vw(16px);
    margin-bottom: mobile-vw(50px);
    margin-top: mobile-vw(40px);
  }

  .worksMediaC {
    // @include dims(auto, desktop-vw(400px));
    border: 1px solid var(--black);

    @include mobile {
      // @include dims(auto, mobile-vw(220px));
    }
  }
}
