.hero {
  // @include dims(auto, calc(100vh - var(--header-height)));

  .test {
    margin-top: calc(var(--header-height) * -1);
  }
}

.info {
  margin-bottom: desktop-vw(100px);
  padding: desktop-vw(50px) 0;

  @include mobile {
    margin-bottom: mobile-vw(50px);
    padding: mobile-vw(50px) 0;
  }

  > p {
    @include dims(desktop-vw(700px), auto);
    font-family: var(--font-manrope);
    font-size: desktop-vw(32px);
    font-weight: 300;
    line-height: 1.35;
    text-align: center;

    @include mobile {
      @include dims(auto);
      font-size: mobile-vw(32px);
    }
  }
}

.whatWeDo {
  padding: 0 desktop-vw(160px);

  @include mobile {
    padding: 0 mobile-vw(16px);
    width: 100vw;
  }

  .text {
    @include mobile {
      margin-bottom: mobile-vw(64px);
    }

    > h2 {
      color: var(--plastic-carrot);
      font-family: var(--font-anton);
      font-size: desktop-vw(30px);
      font-weight: 400;
      margin-bottom: desktop-vw(32px);

      @include mobile {
        font-size: mobile-vw(64px);
        margin-bottom: mobile-vw(32px);
        text-align: center;
      }
    }

    > ul {
      li {
        border-bottom: 1px solid var(--black);
        color: var(--black);
        font-family: var(--font-manrope);
        font-size: desktop-vw(24px);
        font-weight: 300;
        padding: desktop-vw(8px) 0;

        @include mobile {
          font-size: mobile-vw(24px);
          line-height: 1.25;
          padding: mobile-vw(16px) 0;
        }
      }
    }
  }

  .videoC {
    @include dims(auto, desktop-vw(400px));

    @include mobile {
      @include dims(auto, mobile-vw(250px));
    }
  }
}

.selectedWorks {
  @include dims(auto);
  // padding: desktop-vw(140px) desktop-vw(160px);

  @include mobile {
    padding: mobile-vw(50px) mobile-vw(16px);
  }

  > h2 {
    font-size: mobile-vw(32px);
    color: var(--plastic-carrot);
    font-family: var(--font-anton);
    font-size: mobile-vw(96px);
    font-weight: 300;
    line-height: 1.1;
    margin: mobile-vw(30px) auto;
    text-align: center;
  }

  > p {
    @include dims(desktop-vw(700px), auto);
    font-family: var(--font-manrope);
    font-size: desktop-vw(32px);
    font-weight: 300;
    line-height: 1.35;
    margin: 0 auto;
    margin-top: desktop-vw(100px);
    text-align: center;

    @include mobile {
      @include dims(auto);
      font-size: mobile-vw(32px);
    }
  }

  .items {
    margin-top: desktop-vw(80px);
    padding: desktop-vw(80px) desktop-vw(160px);

    @include mobile {
      margin-top: mobile-vw(100px);
      padding: 0;
    }

    .cardC {
      margin-bottom: desktop-vw(100px);

      @include mobile {
        margin-bottom: mobile-vw(50px);
      }

      &:last-child {
        margin-bottom: 0;
      }

      .homeMediaC {
        @include dims(100%, desktop-vw(600px));
        border: 1px solid var(--black);

        @include mobile {
          @include dims(100%, mobile-vw(200px));
        }
      }
    }
  }

  .moreWorks {
    font-family: var(--font-anton);
    font-size: desktop-vw(100px);
    font-weight: 400;
    margin: desktop-vw(100px) 0;
    text-align: center;

    @include mobile {
      font-size: mobile-vw(100px);
      margin: mobile-vw(30px) 0;
      margin-top: mobile-vw(50px);
    }
  }
}
