header {
  align-items: center;
  display: flex;
  height: var(--header-height);
  padding: 0 desktop-vw(40px);
  position: relative;
  z-index: z-index("header");

  @include mobile {
    justify-content: space-between;
    padding: 0 mobile-vw(16px);
  }

  .logoC {
    @include dims(desktop-vw(175px), desktop-vw(140px));
    margin-bottom: desktop-vw(-80px);
    z-index: 100;

    @include mobile {
      @include dims(mobile-vw(90px), auto);
      margin-bottom: unset;
      transform: unset;
    }
  }

  .navDesktop {
    align-items: center;
    column-gap: desktop-vw(32px);
    display: flex;
    justify-content: space-between;

    @include mobile {
      column-gap: mobile-vw(32px);
    }

    .navItem {
      color: var(--duqqa-brown);
      font-family: var(--font-manrope);
      font-size: desktop-vw(20px);
      font-weight: 400;
      position: relative;

      @include mobile {
        font-size: mobile-vw(16px);
      }
    }
  }
}
