.footer {
  @include dims(auto, desktop-vw(180px));
  padding: desktop-vw(40px) desktop-vw(40px);
  position: relative;

  @include mobile {
    @include dims(auto);
    padding: mobile-vw(40px) mobile-vw(16px);
  }

  .social {
    @include position(absolute, auto, auto, desktop-vw(20px), 50%);
    transform: translateX(-50%);

    @include mobile {
      @include position(relative, auto, auto, auto, auto);
      margin-bottom: mobile-vw(30px);
      transform: translateX(0%);
      order: 1;
    }

    .iconC {
      @include dims(desktop-vw(20px));

      @include mobile {
        @include dims(mobile-vw(20px));
      }
    }
  }

  > small {
    font-family: var(--font-manrope);
    font-size: desktop-vw(18px);
    font-weight: 500;
    line-height: 1.35;

    @include mobile {
      font-size: mobile-vw(18px);
      order: 2;
    }
  }
}
