.customImg {
  @include dims(100%);
  position: relative;

  > img {
    @include dims(100%);
    display: block;
    max-width: 100%;
    transition: 200ms opacity ease;
    transform: scale(1.01);
    opacity: 0;
    -o-object-fit: cover;
    object-fit: cover;
  }

  &.visible {
    img {
      opacity: 1;
    }
  }
}
